body{
  background-color: #f4f4f4;
}

.custom-app-bar{
  padding: 0.3rem;
  margin-bottom: 3rem;
}


/* Search results page */
.search-result {
  background-color: white;
  margin-bottom: 0.5rem;
}
.search-result:hover {
  background-color: #fafaff;
}

.search-results-book-cover{
  margin-right: 1rem;
}


/* Home Page */
.main-feed {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.main-feed-post{
  margin-bottom: 0.5rem;
}

/* Book club  */

.book-club-info {
  padding: 1rem 0rem 1rem 0rem;
}