body{
  background-color: #f4f4f4;
}

.custom-app-bar{
  padding: 0.3rem;
  margin-bottom: 3rem;
}


/* Search results page */
.search-result {
  background-color: white;
  margin-bottom: 0.5rem;
}
.search-result:hover {
  background-color: #fafaff;
}

.search-results-book-cover{
  margin-right: 1rem;
}


/* Home page */
.main-feed-post{
  margin-bottom: 0.5rem;
}


/* modals */
.basic-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  background-color: white;
  box-shadow: 2rem;
  outline: none;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.3rem;
}

.recommend-modal {
  width: 30rem;
}

.create-post-modal{
  width: 35rem;
}

.friends-list-modal{
  width: 20rem;
}