body{
  background-color: #f4f4f4;

}

.custom-app-bar{
  padding: 0.3rem;
  margin-bottom: 3rem;
}


/* Search results page */
.search-result {
  background-color: white;
  margin-bottom: 0.5rem;
}
.search-result:hover {
  background-color: #fafaff;
}

.search-results-book-cover{
  margin-right: 1rem;
}

.main-feed-post{
  margin-bottom: 0.5rem;
}